.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pokemonCardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}